.timelineContainer {
    width: 100%;
    padding: 10px;
}

.timeline {
    width: 100%;
    min-height: 100px;
    background-color: white;
    border: 2px dotted gray;
    border-radius: 10px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.track {
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 9999px;
    position: relative;
}

.event {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.yearLabel {
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* bottom: 100%; */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    color: #000;
    background: white;
    padding: 2px 4px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.yearLabel[data-is-bottom="true"] {
    top: 100%;
}

.yearLabel[data-is-bottom="false"] {
    bottom: 100%;
}

.yearLabel[data-is-bottom="true"]+.marker {
    top: 100%;
}

.yearLabel[data-is-bottom="false"]+.marker {
    bottom: 100%;
}

.marker {
    z-index: 1;
    position: absolute;
    /* bottom: 100%; */
    height: 10px;
    left: 50%;
    width: 2px;
    transform: translateX(-50%);
    background-color: red;
}

.cursor {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(36, 96, 226);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: all 150ms ease-in-out;
}

.cursor::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.eventContainer {
    opacity: 0.5;
    transition: all 150ms ease-in-out;
}
.eventContainer.active {
    opacity: 1;
}