.timelineContainer {
    width: 100%;
    padding: 10px;
}

.timeline {
    width: 100%;
    min-height: 100px;
    background-color: white;
    border: 2px dotted gray;
    border-radius: 10px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.track {
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 9999px;
    position: relative;
}

.event {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.yearLabel {
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* bottom: 100%; */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    color: #000;
    background: white;
    padding: 2px 4px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.yearLabel[data-is-bottom="true"] {
    top: 100%;
}

.yearLabel[data-is-bottom="false"] {
    bottom: 100%;
}

.yearLabel[data-is-bottom="true"]+.marker {
    top: 100%;
}

.yearLabel[data-is-bottom="false"]+.marker {
    bottom: 100%;
}

.marker {
    z-index: 1;
    position: absolute;
    /* bottom: 100%; */
    height: 10px;
    left: 50%;
    width: 2px;
    transform: translateX(-50%);
    background-color: red;
}

.cursor {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(36, 96, 226);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: all 150ms ease-in-out;
}

.cursor::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.eventContainer {
    opacity: 0.5;
    transition: all 150ms ease-in-out;
}

.eventContainer.active {
    opacity: 1;
}


.slideshowContainer {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #e7e9eb;
    border-radius: 10px;
    overflow: hidden;
}

.slideshowWrapper {
    position: relative;
}

.slideshowTrack {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;

}

.slideShowSlide {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    overflow: hidden;
    padding: 5px 0;
    background-color: white;
}

.slideShowSlide:nth-child(odd) {
    background-color: #e9e9e9;
}

.year {
    align-self: stretch;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #b4b4b4;
    color: rgb(39, 39, 39);
    background-position: center;
    background-size: cover;

}

.description {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}

.blur {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    padding: 5px;
    border-radius: 5px;
}

.labelImgContainer {
    max-width: 75px;
    margin: 0 auto;
}

.labelImgContainer img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}